.navbarul {
  font-family: "Secular One", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.primarybtn {
  padding: 10px 40px;
  color: #0004ad;
  background-color: #ffc400;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: "Secular One", sans-serif;
  font-size: calc(24 / 16);
}

.customNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
@media (max-width: 992px) {
  .customNav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}
